:root {
    // ------Root Color-----
    --pc: #DE3338;
;
    --sc:#667085;
;
    --body-color: #000;
    // ------Root Background Color-----
    --gray-bg: #E5E7E9;
    --footer-bg: #272727;
    // ------Common Color-----
    --white: #FFFFFF;
    --tf: transparent;
    // ------Paragraph Color-----
    --p-color: #999999;
    // ------H1 TO H6 Color-----
    --h1toh6:#232323;
;
    // ------Other Color-----
    --line-light: #D9D9D9;
    --btn-hover: red;
}

// ------Root Color-----
$pc:var(--pc);
$sc:var(--sc);
$body-color:var(--body-color);
// ------Root Background Color-----
$gray-bg:var(--gray-bg);
$footer-bg:var(--footer-bg);
// ------Common Color-----
$white:var(--white);
$tf:var(--tf);
// ------Paragraph Color-----
$p-color:var(--p-color);
// ------H1 TO H6 Color-----
$h1toh6:var(--h1toh6);
// ------Other Color-----
$line-light:var(--line-light);
$btn-hover:var(--btn-hover);