body,
html {
    font-family: $pf-font;
    line-height: 1.5;
    font-size: $rem-size;
    color: $body-color;
}

* {
    font-family: $pf-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
    color: $h1toh6;
    line-height: 1.2;
}

.h1,
h1 {
    font-weight: $font-sb;
    font-size: rem(53px);
}

.h2,
h2 {
    font-weight: $font-sb;
    font-size: rem(36px);
}

.h3,
h3 {
    font-weight: $font-sb;
    font-size: rem(30px);
}

.h4,
h4 {
    font-weight: $font-sb;
    font-size: rem(24px);
}

.h5,
h5 {
    font-weight: $font-m;
    font-size: rem(21px);
}

.h6,
h6 {
    font-weight: $font-b;
    font-size: rem(16px);
}

p {
    color: $p-color;
    font-weight: $font-r;
}

a {
    color: $pc;

    &:hover {
        // color: mix($pc,#000000);
    }
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
}

.btn {
    //input
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
    border-width: rem(1px);
    padding: rem(15px) rem(30px);
    font-weight: $font-m;
    font-size: rem(22px);
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: rem(60px);

}

.htwo{
    font-weight: $font-sb;
    font-size: rem(48px);
    line-height: 100%;

}

.para {
    font-weight: $font-r;
    font-size: rem(20px);
    line-height: rem(30px);
    color:#232323;
;

}

@media (max-width: 1920px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        // width: 100%;
        max-width: rem(calc(1720px));
        margin-inline: auto;


    }
}

@include max(d-1680) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(1750px));
    }
}

@include max(d-1440) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(1800px));
    }
}

@include max(d-1280) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(1700px + 24px));
    }
}

@include max(d-1200) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(1650px));
    }
}

@include max(d-1024) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(2000px));
    }
}

@include max(d-991) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(1800px));
    }
}

@include max(d-820) {
    .container {
        margin-inline: rem(40px);
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: rem(calc(1600px));
    }
}