// @include max(d-1400) {
//     html,
//     body {
//         $rem-size: 16px;
//         font-size: $rem-size;
//     }
//     // .container,
//     // .container-lg,
//     // .container-md,
//     // .container-sm,
//     // .container-xl,
//     // .container-xxl {
//     //     max-width: rem(calc(1700px + 24px));
//     // }
// }

@include max(d-1920) {
    html,
    body {
        $rem-size: 20px;
        font-size: $rem-size;
    }
}

@include max(d-1680) {
    html,
    body {
        $rem-size: 16px;
        font-size: $rem-size;
    }
}
@include max(d-1440) {
   
    html,
    body {
        $rem-size: 14px;
        font-size: $rem-size;
    }
}

@include max(d-1280) {
    html,
    body {
        $rem-size: 12px;
        font-size: $rem-size;
    }
}
@include max(d-1200) {
    html,
    body {
        $rem-size: 10x;
        font-size: $rem-size;
    }
}

@include max(d-1024) {
    html,
    body {
       $rem-size: 9px;
    //    dth: 100; 
       font-size: $rem-size;
    }
}
@include max(d-991) {
    html,
    body {
        $rem-size: 9px;
        font-size: $rem-size;
    }
}

@include max(d-820) {
    html,
    body {
        $rem-size: 13px;
        font-size: $rem-size;
    }
}

@include max(d-768) {
   
    html,
    body {
        $rem-size: 16px;
        font-size: $rem-size;
    }
}

// @include max(d-480) {
//     .container{
//         padding-inline: 22px;
//     }
//     html,
//     body {
//         $rem-size: 5px;
//         font-size: $rem-size;
//     }
// }

// @include max(d-360) {
//     .container{
//         padding-inline: 22px;
//     }
//     html,
//     body {
//         $rem-size: 4px;
//         font-size: $rem-size;
//     }
// }