@include max(d-600){
.header{
   height: 100%;
  .container{ 
  .logo-wrapper {
     height: mrem(90px);
    img {
      width: mrem(200px);
      height: 100%;
      display: block;
      padding: mrem(18px);
    }
  }
}
}
}