@include max(d-820) {
  .home {
    padding-block: rem(30px);

    .content {
      flex-direction: column;
      gap: rem(10px) !important;

    }

    .div1 {
      align-items: center;
      max-width: 100% !important;

      .main-heading {
        font-size: mrem(44px);
        text-align: center;
      }

      .banner-para {
        font-size: mrem(20px);
        text-align: center;
      }

      .btn {
        border-radius: rem(30px);

      }
    }

    .div2 {
      max-width: 100% !important;
      margin-inline: none;
    }

    #myform {
      width: 100%;

      label {
        font-size: mrem(12px);
      }
    }
  }
}

@include max(d-600) {
  .home {
    // min-height: rem(700px);
    position: relative;
    padding-top: mrem(0.5px);

    .bgimage {
      position: absolute;
      top: rem(100px);
      inset: 0;
      background: url("../images/bg.webp") center / cover no-repeat;
      z-index: 0;
      // height: rem(700px);

      .overlay {
        position: absolute;
        inset: 0;
        background: $overlay-color;
      }
    }

    .container {


      .subsection {

        .content {

          .div1 {
            justify-content: left;

            .main-heading {
              font-size: mrem(50px);
              margin-bottom: mrem(20px);

            }

            .banner-para {
              font-size: mrem(26px);
              margin-bottom: mrem(30px);

            }

            .btn {
              max-width: mrem(182px);
              height: mrem(56px);
              border-radius: mrem(60px);
              border: rem(0.5px) solid #D0D5DD;
              padding: mrem(15px) mrem(30px);
              font-size: mrem(22px);
              margin-bottom: mrem(20px);
            }
          }

          .div2 {
            border-radius: mrem(24px);
            padding-inline: mrem(20px);
            padding-block: mrem(30px) mrem(50px);

            .para1 {
              margin-bottom: mrem(20px);
              font-size: mrem(32px);
              line-height: mrem(44px);

            }

            .para2 {
              font-size: mrem(16px);
              margin-bottom: mrem(30px);
              line-height: mrem(30px);
              font-size: mrem(20px);
            }

            #myform {

              label {
                font-size: mrem(12px);
              }

              input {
                border: mrem(1px) solid #ccc;
                border-radius: mrem(5px);
                gap: mrem(8px);
                border-radius: mrem(8px);
                border-width: mrem(1px);
                padding: mrem(10px) mrem(14px);

              }

              .row {
                display: flex;
                gap: rem(32px);

                .field {
                  margin-bottom: mrem(24px);
                }
              }

              .field {
                margin-bottom: mrem(24px);

              }

              .btn {
                padding: mrem(12px);
                border-radius: mrem(30px);
                margin-top: mrem(32px);
              }
            }
          }
        }
      }
    }
  }
}