@import "_globals.scss";
@import "_header.scss";
@import "_home.scss";
@import "_page1.scss";
@import "_page2.scss";
@import "_page3.scss";
@import "_page4.scss";
@import "_page5.scss";
// @import "_footer.scss";