.footer {
    height: rem(80px);
    opacity: 1;
    background-color: black;

    .container {
        .content {
             text-align: center;
            h6 {
                max-width:rem(473px);
                height: rem(28px);
                text-align: center;
                opacity: 1;
                font-weight: 500;
                font-style: Medium;
                font-size: rem(20px);
                line-height: 28px;
                letter-spacing: 0%;
                
            }
        }
    }
}