.header{
   height: 100%;
  .container{ 
  .logo-wrapper {
     height: rem(100px);
    img {
      width: rem(250px);
      height: 100%;
      display: block;
      padding: rem(18px);
    }
  }
}
}