.header {
  height: rem(100px);

  .logo-wrapper {
    height: 100%;
    display: flex;          
    align-items: center;    
    margin-left: rem(100px);

    img {
      max-width: rem(270px);
      display: block;
    }
  }
}
