/* Variables */
$primary-red: #b22222;
$white: #ffffff;
$overlay-color: rgba(178, 34, 34, 0.6);

.home {
  // min-height: rem(700px);
  position: relative;
  padding-block: rem(61px);

  .bgimage {
    position: absolute;
    top: rem(100px);
    inset: 0;
    background: url("../images/bg.webp") center / cover no-repeat;
    z-index: 0;
    // height: rem(700px);

    .overlay {
      position: absolute;
      inset: 0;
      background: $overlay-color;
    }
  }

  .container {

    .subsection {

      .content {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(150px);

        .div1 {
          max-width: 55%;
          color: $white;
          display: flex;
          flex-direction: column;

          .main-heading {
            max-width: 100%;
            color: $white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: rem(64px);
            line-height: 1;
            letter-spacing: 0;
            margin-bottom: rem(20px);

          }

          .banner-para {
            font-size: rem(16px);
            margin-bottom: rem(30px);
            line-height: 1.6;
            color: #ffffff;

          }

          .btn {
            max-width: rem(182px);
            height: rem(56px);
            background: transparent;
            border: rem(1px) solid #D0D5DD;
            color: $white;
            cursor: pointer;

          }
        }

        .div2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 45%;
          background: $white;
          border-radius: rem(24px);
          padding-inline: rem(50px);
          padding-block: rem(34px) rem(53px);
          // height: rem(366px);
          // margin-left: rem(20px);
          // margin-top: rem(50px);
           //gap: rem(64px);
          //margin: rem(60px);
          // max-height: rem(578px);white

          .para1 {
            text-align: center;
            margin-bottom: rem(20px);
            font-family: Montserrat;
            font-weight: 400;
            font-size: rem(36px);
            line-height: rem(44px);
            letter-spacing: -2%;
            text-align: center;
            color: #101828;

          }

          .para2 {
            font-size: rem(14px);
            margin-bottom: rem(30px);
            color: #666;
            font-family: Montserrat;
            font-weight: 400;
            line-height: rem(30px);
            font-weight: 400;
            font-size: rem(20px);
            text-align: center;
          }

          #myform {
            //width: rem(420px);
            display: flex;
            flex-direction: column;
            //padding: rem(15px);

            label {
              font-size: rem(12px);
              //margin-bottom: rem(4px);
              color: #666;
            }

            input {
              width: 100%;
              border: rem(1px) solid #ccc;
              border-radius: rem(5px);
              opacity: 1;
              gap: rem(8px);
              border-radius: 8px;
              border-width: 1px;
              padding: rem(12px) rem(16px);

            }

            .row {
              display: flex;
              gap: rem(32px);

              .field {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-bottom: rem(24px);
                position: relative;

                .msg {
                  border-color: red;
                }
              }
            }

            .field {
              max-width: 100%;
              // margin-bottom: 20px;
              position: relative;
              margin-bottom: rem(24px);

            }

            small {
              visibility: hidden;
              position: relative;
              // margin-top: rem(6px);
            }

            .error {
              visibility: visible;
              color: #b22222;
            }

            .btn {
              background: $pc;
              color: $white;
              border: none;
              padding: rem(12px);
              border-radius: rem(30px);
              cursor: pointer;
              margin-top: rem(8px);
              font-weight: 500;
              font-style: Medium;
              font-size: rem(22px);
              line-height: 100%;
              letter-spacing: 0%;
              height: rem(56px);

            }
          }
        }
      }
    }
  }
}