.page1 {
    margin-block: rem(120px);

    .container {
        display: flex;
        flex-direction: column;

        .page-heading {
            color: $pc;
            font-weight: rem(500px);
            margin-bottom: rem(8px);
            line-height: 100%;
            font-size: rem(16px);
            opacity: 0.5;

        }

        .line {
            width: 100%;
            height: rem(2px);
            border: rem(1px) solid #DE3338;
            margin-bottom: rem(50px);
            opacity: 0.1;
        }

        .subsection {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: rem(16px);
            padding-top: rem(80px);
            gap: rem(23px);

            .left {
                max-width: 50%;
                display: flex;
                flex-direction: column;
                gap: rem(16px);

                .about-heading{
                    max-width: 90%;
                }
             .aboutsuryakiran-para{
                   max-width: 80%;
                   color:#232323;
                }

            }

            .right {
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                gap: rem(120px);
                margin-block: rem(55px);
                max-width: 50%;

                .box {
                    max-width: rem(193px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: relative;

                    .number {
                        font-size: rem(64px);
                        font-weight: $font-b;
                        color: black;
                    }

                    .small-heading {
                        color: $pc;
                        font-weight: $font-sb;
                        font-size: rem(22px);
                        line-height: 100%;

                    }

                    &:not(:last-child)::after {
                        content: "";
                        position: absolute;
                        right: rem(-60px);
                        top: 15%;
                        height: 70%;
                        width: rem(1px);
                        background-color: #ccc;
                    }

                }
            }
        }
    }
}