.page1 {
    margin-block: rem(120px);

    .container {
        display: flex;
        flex-direction: column;

        h6 {
            color: $pc;
            font-weight: rem(500px);
            margin-bottom: rem(16px);
            line-height: 100%;
            font-size: rem(16px);
            opacity: 0.5;

        }

        .line {
            width: 100%;
            height: rem(2px);
            border: rem(1px) solid #DE3338;
            margin-bottom: rem(50px);
            opacity: 0.1;
        }

        .subsection {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: rem(16px);
            padding-top: rem(80px);

            .left {
                max-width: 50%;
                display: flex;
                flex-direction: column;
                h2 {
                    max-width: 100%;
                    // height: rem(118px);
                    font-size: rem(48px);
                    line-height: 100%;
                    letter-spacing: 0%;
                    font-weight: 600;
                    // padding-inline: 8px;
                }

                p {
                    max-width: 100%;
                    gap: rem(10px);
                    color: #555;
                    line-height: rem(30px);
                    font-size: rem(20px);
                    font-weight: 400;
                    // padding-inline: rem(8px);
                }
            }

            .right {
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: rem(90px);
                margin-top: rem(40px);
                max-width: 50%;
                // height: rem(115px);
                // align-items: center;

                .box {
                    width: rem(193px);
                    height: rem(115px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: relative;

                    h1 {
                        font-size: rem(64px);
                        font-weight: 700;
                        line-height: 100%;
                        font-style: bold;
                    }

                    h6 {
                        color: #DE3338;
                        font-weight: 600;
                        font-style: bolder;
                        font-size: rem(22px);
                        line-height: 100%;
                    }

                    &:not(:last-child)::after {
                        content: "";
                        position: absolute;
                        right: rem(-30px);
                        top: 15%;
                        height: 70%;
                        width: rem(1px);
                        background-color: #ccc;
                    }

                }
            }
        }
    }
}