.page4 {
    // height: rem(1000px);
    background-color: #f1dadb;
    padding-bottom: rem(100px);
    .container {
        .section{
        padding-top: rem(56px);
        .section-tag {
            color: #E21E248C;
            font-size: rem(14px);
            font-weight: 500;
            letter-spacing: rem(1px);
        }

        .line {
            max-width: 100%;
            max-height: rem(2px);
            border: rem(1px) solid #DE3338;
            opacity: 0.1;
        }

        .content {
            padding-top: rem(80px);
            // height: rem(365px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                max-width: rem(890px);
                // height: rem(118px);
                opacity: 1;
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: rem(48px);
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;

            }

            .para1 {
                max-width: rem(808px);
                // height: rem(60px);
                opacity: 1;
                font-family: Montserrat;
                font-weight: 400;
                font-style: Regular;
                font-size: rem(20px);
                line-height: rem(30px);
                letter-spacing: 0%;
                text-align: center;
                color: #232323;

            }

            .para2 {
                max-width: rem(248px);
                // height: rem(24px);
                margin-top: rem(37px);
                margin-left: rem(8px);
                opacity: 1;
                font-family: Montserrat;
                font-weight: 500;
                font-style: Medium;
                font-size: rme(20px);
                line-height: 100%;
                letter-spacing: 0%;
                color: #232323;
            }
        }

        .comparison {
            width: 100%;
            // height: rem(484px);
            // padding-bottom: rem(100px);

            tr {
                 max-height: rem(80px);
            }

            thead tr th:nth-child(2) {
                background-color: #E12026;
                border-top-left-radius: rem(12px);
                border-top-right-radius: rem(12px);
            }

            th,
            td {
                padding: rem(12px) rem(16px);
                text-align: center;
            }

            th {
                font-weight: 600;
                font-family: Montserrat;
                font-size: rem(32px);
                line-height: 100%;
                letter-spacing: 0%;

            }

            tr:nth-child(even) {
                background-color: #F9F5F4;
            }

            thead th {
                border-bottom: rem(2px) solid #e71919; // red line
            }

        }
    }
}
}