.page5 {
  padding-bottom: rem(50px);
  width: 100%;

  .container {
    margin-top: rem(120px);

    .subsection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: rem(532px);
      position: relative;
      width: 100%;
      background-color: #FAFAFA;
      .left {
        display: flex;
        // height: 100%;
        justify-content: center;
        align-items: center;
        max-width: 60%;
        position: relative;

        .slick-list {
          overflow: hidden;
          width: 100%;
        }

        .slider {
          display: inline-block;
          width: 100%;
          position: relative;

          .slick-slide {
            display: block;
          }

          .slick-list {
            overflow: hidden;
          }

          .slick-track{
                display: flex;
          }
          .slide {
            display: flex;
            width: 100% !important;

            .image-container {
              max-width: rem(270px);
              height: 100%;
              background-color: red;


              img {
                padding: rem(100px) rem(10px);
              }
            }

            .content {
              text-align: left;
              margin: auto rem(50px);
              max-width: rem(635px);

              h2 {
                font-size: rem(28px);
                font-weight: 600;
                margin-bottom: rem(6px);
              }

              .company {
                color: #666;
                margin-bottom: rem(8px);
              }

              .stars {
                color: #f4b400;
                margin-bottom: rem(14px);
              }

              .text {
                line-height: 1.6;
                color: #777;
              }
            }

          }

          .prev {
            position: absolute;
            left: rem(200px);
            top: 50%;
            // transform: translateY(-100%);
            background: #ffffff;
            color: red;
            border: rem(1px) solid #ffffff;
            padding: rem(10px) rem(14px);
            cursor: pointer;
            z-index: 10;
          }

          /* NEXT BUTTON (RED) */
          .next {
            position: absolute;
            left: rem(1000px);
            top: 50%;
            // transform: translateY(-100%);
            background-color: #e71919;
            color: #fff;
            border: none;
            padding: rem(10px) rem(14px);
            cursor: pointer;
            z-index: 10;
          }
        }

      }

      .right {
        max-width: rem(682px);
        // height: rem(532px);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}